---
- name: Install docker
  hosts: all
  become: true
  tasks:
    - name: Update packages
      ansible.builtin.apt:
        name:
        - "ca-certificates"
        - "curl"
        - "gnupg"
        - "lsb-release"
        - "python3-pip"
        state: present
        update_cache: yes

    - name: Add docker repo key
      ansible.builtin.apt_key:
        url: "https://download.docker.com/linux/ubuntu/gpg"
        state: present

    - name: Add docker repo
      ansible.builtin.apt_repository:
        repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        filename: "docker-ce"
        state: present

    - name: Install docker engine
      ansible.builtin.apt:
        name:
        - "docker-ce"
        - "docker-ce-cli"
        - "containerd.io"
        state: present
        update_cache: yes

    - name: Install python3-docker
      ansible.builtin.apt:
        name: "python3-docker"
        state: "present"
        update_cache: yes

    - name: Upgrade pip
      ansible.builtin.pip:
        name: pip
        extra_args: --upgrade

    - name: Install docker-compose
      ansible.builtin.pip:
        name: "docker-compose"
        state: "present"

    # - name: Install Docker-compose
    #   get_url:
    #     url: https://github.com/docker/compose/releases/download/1.25.0/docker-compose-Linux-x86_64
    #     dest: /usr/local/bin/docker-compose
    #     mode: '0755'
