
name: Validate Packer templates

on:
  pull_request:
  push:

jobs:
  packer:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Validate Template docker.json
        run: packer validate -var-file=packer/variables.json.example packer/docker.json
