name: Run tests

on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.6

      - name: Install crawler requirements
        run: pip install -r requirements.txt -r requirements-test.txt
        working-directory: search_engine_crawler

      - name: Run crawler test
        run: |
          python -m unittest discover -s tests/
          coverage run -m unittest discover -s tests/
          coverage report --include crawler/crawler.py > crawler_report.txt
        working-directory: search_engine_crawler

      - name: Archive crawler report
        uses: actions/upload-artifact@v2
        with:
          name: crawler_report
          path: search_engine_crawler/crawler_report.txt

      - name: Install ui requirements
        run: pip install -r requirements.txt -r requirements-test.txt
        working-directory: search_engine_ui

      - name: Run ui test
        run: |
          python -m unittest discover -s tests/
          coverage run -m unittest discover -s tests/
          coverage report --include ui/ui.py > ui_report.txt
        working-directory: search_engine_ui

      - name: Archive ui report
        uses: actions/upload-artifact@v2
        with:
          name: ui_report
          path: search_engine_ui/ui_report.txt
